html {
  height:100%;
}
body { 
  margin:0px;
  padding:0px;
  text-align: justify;
  font-family: Myriad Pro, Helvetica, Arial, sans-serif;
  font-size:15px;
  background-color:#eeeeee;
}
h1 {
  font-weight:bold;
  font-size:24px;
  padding:0px;
  margin:0px;
}
h2 {
  font-weight:bold;
  font-size:20px;
  padding:0px;
  margin:10px 0px;
}
h3 {
  font-size:14px;
  padding:0px;
  margin:0px;
}
a { 
  font-weight:bold;
  text-decoration:none;
  color:#B31B1B;
}
a img { 
   border:none;
}
a:hover {
  text-decoration:underline;
  color:#EC6969;
  cursor:pointer;
}
a.presenter {
    color: black;
    font-weight: 400;
}
#canvas { 
  position:relative;
  width:800px;
  height:100%;
  margin:10px auto;
  background-color:#ffffff;
  border:1px solid #b4b4b4;
  padding-bottom:20px;
}
#menu {
  width:800px;
  margin:0px auto;
  border:0px;
  background-color:#B31B1B;
}
#menu a {
  padding:5px 10px;
  text-decoration: none;
  font-size:10px;
  font-weight:bold;
  color: #FFFFFF;
}
#menu a:hover {
  background-color:#EC6969;
  cursor:pointer;
}
#menu ul {
  margin:0px;
  padding:0px;
  list-style:none;
  text-align:center;
}
#menu li {
  display: inline;
}
.hideable {
  margin:0px;
  padding:20px 20px 0px 20px;
  height:100%;
}
#info {
  float:left;
  font-size:16px;
  margin:20px;
}
#info h1 {
  font-size:24px;
  font-weight:bold;
}
#info p {
  margin:0px;
  padding:0px;
}
#logo {
  position:absolute;
  top:8px;
  right:10px;
  height:88px;
  width:254px; 
}
b { 
  font-weight:bold;
}
#copy {
  margin:0px auto;
  font-size:12px;
  color:#777777;
  width:800px;
}
div.bib {
  padding-left:40px;
  text-indent:-40px; 
}

p.staff {
  padding-left:20px;
}

table.schedule {
    margin:0px;
    width:100%;
    text-align:center;
    border-collapse:collapse;
}

table.schedule td {
    border:1px solid #cccccc;
    padding:3px 6px 3px 6px;
    background-color:#ffffff;
}

table.schedule td.newweek {
    border:0px;
    background-color:#ffffff;
}

table.schedule td.topic {    
    text-align:left;
}
table.schedule td.special {    
    text-align:center;
}
table.schedule td.event {        
    text-align:left;
    white-space: nowrap;
}
table.schedule td.pending {    
    text-align:left;
    color:#bbbbbb;
}
table.schedule tr td:first-child { white-space: nowrap }

.pending a { 
  font-weight:bold;
  text-decoration:none;
  color:#EC6969;
}
.pending a:hover {
  text-decoration:underline;
  color:#F8BFBF;
  cursor:pointer;
}
